<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta charset="utf-8">
    <title>Liste des Événements</title>
</head>
<body>
	<div th:replace="template"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>Liste des Événements</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nom Événement</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e:${evenements}">
                        <td th:text="${e.idEvenement}"></td>
                        <td th:text="${e.nomEvenement}"></td>
                        <td th:text="${e.prixEvenement}"></td>
                        <td th:text="${#dates.format(e.dateEvenement, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" 
                               th:href="@{/supprimerEvenement(id=${e.idEvenement}, page=${currentPage}, size=${size})}">
                               Supprimer
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                       th:href="@{/ListeEvenements(page=${status.index}, size=${size})}"
                       th:text="${status.index+1}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>